:root {
	font-family: Roboto;
}
.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
	height: 80px;
}
.logo {
	color: #D6000D;
	font-size: 2rem;
	font-style: italic;
	font-weight: bold;
}
.ponto-logo {
	color: #000;
}
.navigation-item {
	color: #000;
	text-decoration: none;
	margin-right: 1.3rem;
}